{
  "presets": [
    ["env", {
      "targets": {
        "node": ["6"]
      }
    }]
  ],
  "plugins": [
    "syntax-class-properties",
    "transform-class-properties",
    "transform-runtime",
    "transform-object-rest-spread",
    "istanbul"
  ],
  "sourceMaps": "inline"
}
